<!-- About.Developer:irynatrysh(Iryna Trysh)-->
<section id="about" class="about-yacht">
    <div class="container-about-yacht">
        
        <p class="about-title"><span class="accent-part">Yacht Adventures</span> fleet is here to take you on the
                ultimate adventure.Each yacht ishand-picked for its comfort, style,and performance.</p>

        <ul class="about-list">
            <p class="about-text">From spacious decks to state-of-the-art technology, our yachts are designed to
                provide the perfect blend of luxury and
                functionality. Take a look at our selection below and choose the yacht that matches your needs and
                preferences.
            </p>
            <p class="about-text-2">No matter which yacht you choose, our experienced crew will ensure that your
                journey is smooth and enjoyable. Book now
                and get ready for an unforgettable adventure on the high seas.
            </p>
        </ul>
    </div>
        <div class="about-img">
        <ul class="section-pic-about">
            <li class="about-pic">
                <img srcset="./img/aboutimg/deskabout1@1x.webp 1x, ./img/aboutimg/deskabout1@2x.webp 2x" 
                src="./img/aboutimg/deskabout1@1x.webp" alt="" width="360" />
            </li>
            <li class="about-pic">
                <img srcset="./img/aboutimg/deskabout2@1x.webp 1x, ./img/aboutimg/deskabout2@2x.webp 2x" 
                src="./img/aboutimg/deskabout2@1x.webp" alt="" width="360" />
            </li>
            <li class="about-pic">
                <img srcset="./img/aboutimg/deskabout3@1x.webp 1x, ./img/aboutimg/deskabout3@2x.webp 2x" 
                src="./img/aboutimg/deskabout3@1x.webp" alt="" width="360" />
            </li>
        </ul>
    </div>
</section>