<!--Header-->
<header class="header">
  <div class="header-container container">
    <div class="header-yahts-icon-container">
      <a class="header-logo-text" href="./index.html">
        <img class="header-logo-icon" src="./icon/yacht_header.svg" alt="" />
        YACHT ADWENTURES</a
      >
    </div>
    <nav class="header-nav">
      <div class="header-navigation-container">
        <ul class="header-nav-list">
          <li class="header-pages">
            <a href="#about">About</a>
          </li>
          <li class="header-pages">
            <a href="#yachts">Yachts</a>
          </li>
          <li class="header-pages">
            <a href="#reviews">Reviews</a>
          </li>
        </ul>
      </div>
    </nav>
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <img src="./icon/hamburger_button_header.svg" alt="" />
    </button>
  </div>
</header>

<!--Mobile Menu-->
<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <img src="./icon/close-icon-menu.svg" alt="" />
  </button>
  <div class="mobile-menu-container-icon">
    <img class="header-logo-icon" src="./icon/yacht_header.svg" alt="" />
    <p class="header-logo-text">YACHT ADWENTURES</p>
  </div>
  <ul class="mobile-menu">
    <li><a href="#about" class="mobile-link">About</a></li>
    <li><a href="#yachts" class="mobile-link">Yachts</a></li>
    <li><a href="#reviews" class="mobile-link">Reviews</a></li>
  </ul>
</div>
