<section class="reviews-block">
    <div class="container container-reviews">
        <div class="reviews-box">
            <h3 class="reviews-subtitle"><span class="spn-reviews">Yacht Adventures</span> take pride in providing the best possible
                service and experience to our customers</h3>
            <p class="reviews-text">
                Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for it - read on to find out
                what they have to say about their journey with us.
            </p>
        </div>
        <div class="reviews-cards">
            <ul class="reviews-list">
                <li class="reviews-item">
                <div>
                <img srcset="./img/reviews_img/imagejohn-1x-min.webp 1x, ./img/reviews_img/imagejohn-2x-min.web 2x"
                src="./img/reviews_img/imagejohn.png" alt="John Wax" class="reviews-image" width="48">
                </div>
                <div>
                <h3 class="cards-subtitle">John Wax</h3>
                <p class="cards-text">
                    I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever. The yacht was
                    spacious, comfortable, and luxurious, and the crew took care of everything.
                </p>
                </div>
                </li>
                <li class="reviews-item">
                <img srcset="./img/reviews_img/imagevictoria-1x-min.webp 1x, ./img/reviews_img/imagevictoria-2x-min.webp 2x"
                src="./img/reviews_img/imagevictoria.png" alt="Victoria Romashenko" class="reviews-image">
                <h3 class="cards-subtitle">Victoria Romashenko</h3>
                <p class="cards-text">
                    The Sunseeker Manhattan 66 was the perfect choice for our romantic getaway. The yacht was beautifully designed, with all
                    the amenities we needed, and the crew was attentive and friendly.
                </p>
                </li>
                <li class="reviews-item">
                <img srcset="./img/reviews_img/imageihor-1x-min.webp 1x, ./img/reviews_img/imageihor-2x-min-webp 2x"
                src="./img/reviews_img/imageihor.png" alt="Ihor Trachuk" class="reviews-image">
                <h3 class="cards-subtitle">Ihor Trachuk</h3>
                <p class="cards-text">
                    The Azimut 80 was the most luxurious yacht I've ever been on. The cabins were spacious and elegant, and the outdoor
                    areas were perfect for relaxing and entertaining. Worth every penny!
                </p>
                </li>
            </ul>
        </div>
  <div class="container container-reviews">
    <h3 id="reviews" class="reviews-subtitle">
      <span class="spn-reviews">Yacht Adventures</span> take pride in providing
      the best possible service and experience to our customers
    </h3>
    <div class="reviews-box">
      <p class="reviews-text">
        Our customers have enjoyed unforgettable moments on our yachts. Don't
        just take our word for it - read on to find out what they have to say
        about their journey with us.
      </p>
    </div>
    <div class="reviews-cards">
      <ul class="reviews-list">
        <li class="reviews-item">
          <img scrset="./" src="" alt="" width="" />
          <h3 class="cards-subtitle">John Wax</h3>
          <p class="cards-text">
            I rented the Lagoon 620 with my family for a week-long vacation and
            it was the best decision ever. The yacht was spacious, comfortable,
            and luxurious, and the crew took care of everything.
          </p>
        </li>
        <li class="reviews-item">
          <img src="" alt="" width="" />
          <h3 class="cards-subtitle">Victoria Romashenko</h3>
          <p class="cards-text">
            The Sunseeker Manhattan 66 was the perfect choice for our romantic
            getaway. The yacht was beautifully designed, with all the amenities
            we needed, and the crew was attentive and friendly.
          </p>
        </li>
        <li class="reviews-item">
          <img src="" alt="" width="" />
          <h3 class="cards-subtitle">Ihor Trachuk</h3>
          <p class="cards-text">
            The Azimut 80 was the most luxurious yacht I've ever been on. The
            cabins were spacious and elegant, and the outdoor areas were perfect
            for relaxing and entertaining. Worth every penny!
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
