<!-- Service Block -->
<section class="service-block">
  <div class="container service-block-container">
    <div class="service-block-eclipse"></div>
    <h2 class="service-block-title">Service Block</h2>
    <ul class="service-block-list">
      <li class="service-block-item">
        <picture class="service-block-pic-diving">
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/service-block/mob-diving@1x.webp 1x,
              ./img/service-block/mob-diving@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768), (max-width: 1279px)"
            srcset="
              ./img/service-block/tab-diving@1x.webp 1x,
              ./img/service-block/tab-diving@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/service-block/desc-diving@1x.webp 1x,
              ./img/service-block/desc-diving@2x.webp 2x
            "
          />

          <img
            class="service-block-img-diving"
            src="./img/service-block/mob-diving@1x.webp"
            srcset="
              ./img/service-block/mob-diving@1x.webp 1x,
              ./img/service-block/mob-diving@2x.webp 2x
            "
            alt="photo diving"
            style="width: auto"
          />
        </picture>
        <p class="service-block-subtile diving">Diving</p>
      </li>

      <li class="service-block-item fishing">
        <picture class="service-block-pic-fishing">
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/service-block/mob-fishing@1x.webp 1x,
              ./img/service-block/mob-fishing@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768), (max-width: 1279px)"
            srcset="
              ./img/service-block/tab-fishing@1x.webp 1x,
              ./img/service-block/tab-fishing@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/service-block/desc-fishing@1x.webp 1x,
              ./img/service-block/desc-fishing@2x.webp 2x
            "
          />

          <img
            class="service-block-img-fishing"
            src="./img/service-block/mob-fishing@1x.webp"
            srcset="
              ./img/service-block/mob-fishing@1x.webp 1x,
              ./img/service-block/mob-fishing@2x.webp 2x
            "
            alt="photo diving"
            style="width: auto"
          />
        </picture>
        <p class="service-block-subtile fishing">Fishing</p>
      </li>

      <li class="service-block-item sunbathing">
        <picture class="service-block-pic-sunbathing">
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/service-block/mob-sunbathing@1x.webp 1x,
              ./img/service-block/mob-sunbathing@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768), (max-width: 1279px)"
            srcset="
              ./img/service-block/tab-sunbathing@1x.webp 1x,
              ./img/service-block/tab-sunbathing@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/service-block/desc-sunbathing@1x.webp 1x,
              ./img/service-block/desc-sunbathing@2x.webp 2x
            "
          />

          <img
            class="service-block-img-sunbathing"
            src="./img/service-block/mob-sunbathing@1x.webp"
            srcset="
              ./img/service-block/mob-sunbathing@1x.webp 1x,
              ./img/service-block/mob-sunbathing@2x.webp 2x
            "
            alt="photo diving"
            style="width: auto"
          />
        </picture>
        <p class="service-block-subtile sunbathing">Sunbathing</p>
      </li>
    </ul>
  </div>
</section>
