<!-- Yahts Block -->
<section>
<!--  header -->
  <div class="section-box gradient">
    <h2 id="yachts" class="title-yachtsblock">

  <div class="gradient"></div>
  <div class="gradiend"></div>
  <div class="section-box">
    <h2 class="title-yachtsblock">
<!--  main -->
      Choose your dream yacht and sail away into the sunset
    </h2>

    <form>
      <input
        type="button"
        onclick="window.location.href = '#rental';"
        value="Yacht rental"
      />
    </form>
    <!-- <button type="button" class="rental-btn">Yacht rental</button> -->
  </div>

  <!-- Cards -->

  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img
          class="yacht-link"
          srcset="
            ./img/mob_webp/yahtmob@1x-8-min.webp 1x,
            ./img/mob_webp/yahtmob@2x-8-min.webp 2x
          "
          src="./img/mob_webp/yahtmob@1x-8-min.webp"
          alt="Arrow"
        />
        <div class="title-card">
          <h3 class="name-yachts">Arrow</h3>
          <p class="luxury">LUXURY YAHTS</p>
        </div>
        <div class="cont">
          <div class="description-cont">
            <ul class="quality-list">
              <li class="quality-item">LENGTH</li>
              <li class="quality-item">BUILDER</li>
              <li class="quality-item">BUILT</li>
              <li class="quality-item">GUESTS</li>
              <li class="quality-item">PRICE</li>
            </ul>
          </div>
          <div class="description-cont">
            <ul class="quantity-list">
              <li class="quantity-item">48m(155ft)</li>
              <li class="quantity-item">Admiral</li>
              <li class="quantity-item">2021</li>
              <li class="quantity-item">11 in 5 cabins</li>
              <li class="quantity-item">€33,500,000</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <img
          class="yacht-link"
          srcset="
            ./img/mob_webp/yahtmob@1x-6-min.webp 1x,
            ./img/mob_webp/yahtmob@2x-6-min.webp 2x
          "
          src="./img/mob_webp/yahtmob@1x-6-min.webp"
          alt="BENETTI OASIS 40M..."
        />
        <div class="title-card">
          <h3 class="name-yachts">BENETTI OASIS 40M...</h3>
          <p class="luxury">LUXURY YAHTS</p>
        </div>
        <div class="cont">
          <div class="description-cont">
            <ul class="quality-list">
              <li class="quality-item">LENGTH</li>
              <li class="quality-item">BUILDER</li>
              <li class="quality-item">BUILT</li>
              <li class="quality-item">GUESTS</li>
              <li class="quality-item">PRICE</li>
            </ul>
          </div>
          <div class="description-cont">
            <ul class="quantity-list">
              <li class="quantity-item">41m (133ft)</li>
              <li class="quantity-item">Benetti</li>
              <li class="quantity-item">2025</li>
              <li class="quantity-item">10 in 5 cabins</li>
              <li class="quantity-item">€23,210,000</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <img
          class="yacht-link"
          srcset="
            ./img/mob_webp/yahtmob@1x-min.webp 1x,
            ./img/mob_webp/yahtmob@2x-min.webp 2x
          "
          src="./img/mob_webp/yahtmob@1x-min.webp"
          alt="BELLE ANNA"
        />
        <div class="title-card">
          <h3 class="name-yachts">BELLE ANNA</h3>
          <p class="luxury">LUXURY YAHTS</p>
        </div>
        <div class="cont">
          <div class="description-cont">
            <ul class="quality-list">
              <li class="quality-item">LENGTH</li>
              <li class="quality-item">BUILDER</li>
              <li class="quality-item">BUILT</li>
              <li class="quality-item">GUESTS</li>
              <li class="quality-item">PRICE</li>
            </ul>
          </div>
          <div class="description-cont">
            <ul class="quantity-list">
              <li class="quantity-item">50m(155ft)</li>
              <li class="quantity-item">ISA</li>
              <li class="quantity-item">2012</li>
              <li class="quantity-item">12 in 6 cabins</li>
              <li class="quantity-item">€21,000,000</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <img
          class="yacht-link"
          srcset="
            ./img/mob_webp/yahtmob@1x-1-min.webp 1x,
            ./img/mob_webp/yahtmob@2x-1-min.webp 2x
          "
          src="./img/mob_webp/yahtmob@1x-1-min.webp"
          alt="Ellen"
        />
        <div class="title-card">
          <h3 class="name-yachts">Ellen</h3>
          <p class="luxury">LUXURY YAHTS</p>
        </div>
        <div class="cont">
          <div class="description-cont">
            <ul class="quality-list">
              <li class="quality-item">LENGTH</li>
              <li class="quality-item">BUILDER</li>
              <li class="quality-item">BUILT</li>
              <li class="quality-item">GUESTS</li>
              <li class="quality-item">PRICE</li>
            </ul>
          </div>
          <div class="description-cont">
            <ul class="quantity-list">
              <li class="quantity-item">40m (132ft)</li>
              <li class="quantity-item">Perini Navi</li>
              <li class="quantity-item">2001 / 2016 (refitted)</li>
              <li class="quantity-item">9 in 4 cabins</li>
              <li class="quantity-item">€9,300,000</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <img
          class="yacht-link"
          srcset="
            ./img/mob_webp/yahtmob@1x-2-min.webp 1x,
            ./img/mob_webp/yahtmob@2x-2-min.webp 2x
          "
          src="./img/mob_webp/yahtmob@1x-2-min.webp"
          alt="MIRAGE 401"
        />
        <div class="title-card">
          <h3 class="name-yachts">MIRAGE 401</h3>
          <p class="luxury">LUXURY YAHTS</p>
        </div>
        <div class="cont">
          <div class="description-cont">
            <ul class="quality-list">
              <li class="quality-item">LENGTH</li>
              <li class="quality-item">BUILDER</li>
              <li class="quality-item">BUILT</li>
              <li class="quality-item">GUESTS</li>
              <li class="quality-item">PRICE</li>
            </ul>
          </div>
          <div class="description-cont">
            <ul class="quantity-list">
              <li class="quantity-item">38m (125ft)</li>
              <li class="quantity-item">Gianetti Custom Yachts</li>
              <li class="quantity-item">2024</li>
              <li class="quantity-item">10 in 5 cabins</li>
              <li class="quantity-item">€13,500,000</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <img
          class="yacht-link"
          srcset="
            ./img/mob_webp/yahtmob@1x-3-min.webp 1x,
            ./img/mob_webp/yahtmob@2x-3-min.webp 2x
          "
          src="./img/mob_webp/yahtmob@1x-3-min.webp"
          alt="KING"
        />
        <div class="title-card">
          <h3 class="name-yachts">KING</h3>
          <p class="luxury">LUXURY YAHTS</p>
        </div>
        <div class="cont">
          <div class="description-cont">
            <ul class="quality-list">
              <li class="quality-item">LENGTH</li>
              <li class="quality-item">BUILDER</li>
              <li class="quality-item">BUILT</li>
              <li class="quality-item">GUESTS</li>
              <li class="quality-item">PRICE</li>
            </ul>
          </div>
          <div class="description-cont">
            <ul class="quantity-list">
              <li class="quantity-item">33m (109ft)</li>
              <li class="quantity-item">Overmarine</li>
              <li class="quantity-item">2004 / 2018 (refitted)</li>
              <li class="quantity-item">9 in 4 cabins</li>
              <li class="quantity-item">€1,850,000</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <img
          class="yacht-link"
          srcset="
            ./img/mob_webp/yahtmob@1x-4-min.webp 1x,
            ./img/mob_webp/yahtmob@2x-4-min.webp 2x
          "
          src="./img/mob_webp/yahtmob@1x-4-min.webp"
          alt="SALT"
        />
        <div class="title-card">
          <h3 class="name-yachts">SALT</h3>
          <p class="luxury">LUXURY YAHTS</p>
        </div>
        <div class="cont">
          <div class="description-cont">
            <ul class="quality-list">
              <li class="quality-item">LENGTH</li>
              <li class="quality-item">BUILDER</li>
              <li class="quality-item">BUILT</li>
              <li class="quality-item">GUESTS</li>
              <li class="quality-item">PRICE</li>
            </ul>
          </div>
          <div class="description-cont">
            <ul class="quantity-list">
              <li class="quantity-item">32m (105ft)</li>
              <li class="quantity-item">SanLorenzo</li>
              <li class="quantity-item">2019</li>
              <li class="quantity-item">11 in 5 cabins</li>
              <li class="quantity-item">€7,800,000</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <img
          class="yacht-link"
          srcset="
            ./img/mob_webp/yahtmob@1x-5-min.webp 1x,
            ./img/mob_webp/yahtmob@2x-5-min.webp 2x
          "
          src="./img/mob_webp/yahtmob@1x-5-min.webp"
          alt="STORM"
        />
        <div class="title-card">
          <h3 class="name-yachts">STORM</h3>
          <p class="luxury">LUXURY YAHTS</p>
        </div>
        <div class="cont">
          <div class="description-cont">
            <ul class="quality-list">
              <li class="quality-item">LENGTH</li>
              <li class="quality-item">BUILDER</li>
              <li class="quality-item">BUILT</li>
              <li class="quality-item">GUESTS</li>
              <li class="quality-item">PRICE</li>
            </ul>
          </div>
          <div class="description-cont">
            <ul class="quantity-list">
              <li class="quantity-item">32m (103ft)</li>
              <li class="quantity-item">Overmarine</li>
              <li class="quantity-item">2005 / 2022 (refitted)</li>
              <li class="quantity-item">9 in 4 cabins</li>
              <li class="quantity-item">€2,900,000</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <img
          class="yacht-link"
          srcset="
            ./img/mob_webp/yahtmob@1x-7-min.webp 1x,
            ./img/mob_webp/yahtmob@2x-7-min.webp 2x
          "
          src="./img/mob_webp/yahtmob@1x-7-min.webp"
          alt="COLLU"
        />
        <div class="title-card">
          <h3 class="name-yachts">COLLU</h3>
          <p class="luxury">LUXURY YAHTS</p>
        </div>
        <div class="cont">
          <div class="description-cont">
            <ul class="quality-list">
              <li class="quality-item">LENGTH</li>
              <li class="quality-item">BUILDER</li>
              <li class="quality-item">BUILT</li>
              <li class="quality-item">GUESTS</li>
              <li class="quality-item">PRICE</li>
            </ul>
          </div>
          <div class="description-cont">
            <ul class="quantity-list">
              <li class="quantity-item">29m (96ft)</li>
              <li class="quantity-item">Ferretti</li>
              <li class="quantity-item">2014</li>
              <li class="quantity-item">10 in 5 cabins</li>
              <li class="quantity-item">$4,300,000</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->
    <div class="swiper-buttons">
      <button class="swiper-button-prev">
        <svg class="prev-icon" width="50" higth="25">
          <use href="../img/sprite.svg#icon-left"></use>
        </svg>
      </button>
      <button class="swiper-button-next">
        <svg class="next-icon" width="50" higth="25">
          <use href="../img/sprite.svg#icon-rigth"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<!-- <div class="card-rental">
    <div class="card-set">
      <ul class="card-set-list">
        <li class="card-item">
          <img
            class="yacht-link"
            srcset="
              ../img/mob_webp/yahtmob@1x-8-min.webp 1x,
              ../img/mob_webp/yahtmob@2x-8-min.webp 2x
            "
            src="../img/mob_webp/yahtmob@1x-8-min.webp"
            alt="Arrow"
            width="299"
          />

          <div class="title-card">
            <h3 class="name-yachts">Arrow</h3>
            <p class="luxury">LUXURY YAHTS</p>
          </div>
          <div class="cont">
            <div class="description-cont">
              <ul class="quality-list">
                <li class="quality-item">LENGTH</li>
                <li class="quality-item">BUILDER</li>
                <li class="quality-item">BUILT</li>
                <li class="quality-item">GUESTS</li>
                <li class="quality-item">PRICE</li>
              </ul>
            </div>
            <div class="description-cont">
              <ul class="quantity-list">
                <li class="quantity-item">48m(155ft)</li>
                <li class="quantity-item">Admiral</li>
                <li class="quantity-item">2021</li>
                <li class="quantity-item">11 in 5 cabins</li>
                <li class="quantity-item">€33,500,000</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="card-item">
          <img
            class="yacht-link"
            srcset="
              ../img/mob_webp/yahtmob@1x-6-min.webp 1x,
              ../img/mob_webp/yahtmob@2x-6-min.webp 2x
            "
            src="../img/mob_webp/yahtmob@1x-6-min.webp"
            alt="BENETTI OASIS 40M BO122"
            width="299"
          />

          <div class="title-card">
            <h3 class="name-yachts">BENETTI OASIS 40M...</h3>
            <p class="luxury">LUXURY YAHTS</p>
          </div>
          <div class="cont">
            <div class="description-cont">
              <ul class="quality-list">
                <li class="quality-item">LENGTH</li>
                <li class="quality-item">BUILDER</li>
                <li class="quality-item">BUILT</li>
                <li class="quality-item">GUESTS</li>
                <li class="quality-item">PRICE</li>
              </ul>
            </div>
            <div class="description-cont">
              <ul class="quantity-list">
                <li class="quantity-item">41m (133ft)</li>
                <li class="quantity-item">Benetti</li>
                <li class="quantity-item">2025</li>
                <li class="quantity-item">10 in 5 cabins</li>
                <li class="quantity-item">€23,210,000</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="card-item">
          <img
            class="yacht-link"
            srcset="
              ../img/mob_webp/yahtmob@1x-min.webp 1x,
              ../img/mob_webp/yahtmob@2x-min.webp 2x
            "
            src="../img/mob_webp/yahtmob@1x-min.webp"
            alt="BELLE ANNA"
            width="299"
          />

          <div class="title-card">
            <h3 class="name-yachts">BELLE ANNA</h3>
            <p class="luxury">LUXURY YAHTS</p>
          </div>
          <div class="cont">
            <div class="description-cont">
              <ul class="quality-list">
                <li class="quality-item">LENGTH</li>
                <li class="quality-item">BUILDER</li>
                <li class="quality-item">BUILT</li>
                <li class="quality-item">GUESTS</li>
                <li class="quality-item">PRICE</li>
              </ul>
            </div>
            <div class="description-cont">
              <ul class="quantity-list">
                <li class="quantity-item">50m(155ft)</li>
                <li class="quantity-item">ISA</li>
                <li class="quantity-item">2012</li>
                <li class="quantity-item">12 in 6 cabins</li>
                <li class="quantity-item">€21,000,000</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="card-item">
          <img
            class="yacht-link"
            srcset="
              ../img/mob_webp/yahtmob@1x-1-min.webp 1x,
              ../img/mob_webp/yahtmob@2x-1-min.webp 2x
            "
            src="../img/mob_webp/yahtmob@1x-1-min.webp"
            alt="Ellen"
            width="299"
          />

          <div class="title-card">
            <h3 class="name-yachts">Ellen</h3>
            <p class="luxury">LUXURY YAHTS</p>
          </div>
          <div class="cont">
            <div class="description-cont">
              <ul class="quality-list">
                <li class="quality-item">LENGTH</li>
                <li class="quality-item">BUILDER</li>
                <li class="quality-item">BUILT</li>
                <li class="quality-item">GUESTS</li>
                <li class="quality-item">PRICE</li>
              </ul>
            </div>
            <div class="description-cont">
              <ul class="quantity-list">
                <li class="quantity-item">40m (132ft)</li>
                <li class="quantity-item">Perini Navi</li>
                <li class="quantity-item">2001 / 2016 (refitted)</li>
                <li class="quantity-item">9 in 4 cabins</li>
                <li class="quantity-item">€9,300,000</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="card-item">
          <img
            class="yacht-link"
            srcset="
              ../img/mob_webp/yahtmob@1x-2-min.webp 1x,
              ../img/mob_webp/yahtmob@2x-2-min.webp 2x
            "
            src="../img/mob_webp/yahtmob@1x-2-min.webp"
            alt="MIRAGE 401"
            width="299"
          />

          <div class="title-card">
            <h3 class="name-yachts">MIRAGE 401</h3>
            <p class="luxury">LUXURY YAHTS</p>
          </div>
          <div class="cont">
            <div class="description-cont">
              <ul class="quality-list">
                <li class="quality-item">LENGTH</li>
                <li class="quality-item">BUILDER</li>
                <li class="quality-item">BUILT</li>
                <li class="quality-item">GUESTS</li>
                <li class="quality-item">PRICE</li>
              </ul>
            </div>
            <div class="description-cont">
              <ul class="quantity-list">
                <li class="quantity-item">38m (125ft)</li>
                <li class="quantity-item">Gianetti Custom Yachts</li>
                <li class="quantity-item">2024</li>
                <li class="quantity-item">10 in 5 cabins</li>
                <li class="quantity-item">€13,500,000</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="card-item">
          <img
            class="yacht-link"
            srcset="
              ../img/mob_webp/yahtmob@1x-3-min.webp 1x,
              ../img/mob_webp/yahtmob@2x-3-min.webp 2x
            "
            src="../img/mob_webp/yahtmob@1x-3-min.webp"
            alt="KING"
            width="299"
          />

          <div class="title-card">
            <h3 class="name-yachts">KING</h3>
            <p class="luxury">LUXURY YAHTS</p>
          </div>
          <div class="cont">
            <div class="description-cont">
              <ul class="quality-list">
                <li class="quality-item">LENGTH</li>
                <li class="quality-item">BUILDER</li>
                <li class="quality-item">BUILT</li>
                <li class="quality-item">GUESTS</li>
                <li class="quality-item">PRICE</li>
              </ul>
            </div>
            <div class="description-cont">
              <ul class="quantity-list">
                <li class="quantity-item">33m (109ft)</li>
                <li class="quantity-item">Overmarine</li>
                <li class="quantity-item">2004 / 2018 (refitted)</li>
                <li class="quantity-item">9 in 4 cabins</li>
                <li class="quantity-item">€1,850,000</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="card-item">
          <img
            class="yacht-link"
            srcset="
              ../img/mob_webp/yahtmob@1x-4-min.webp 1x,
              ../img/mob_webp/yahtmob@2x-4-min.webp 2x
            "
            src="../img/mob_webp/yahtmob@1x-4-min.webp"
            alt="SALT"
            width="299"
          />

          <div class="title-card">
            <h3 class="name-yachts">SALT</h3>
            <p class="luxury">LUXURY YAHTS</p>
          </div>
          <div class="cont">
            <div class="description-cont">
              <ul class="quality-list">
                <li class="quality-item">LENGTH</li>
                <li class="quality-item">BUILDER</li>
                <li class="quality-item">BUILT</li>
                <li class="quality-item">GUESTS</li>
                <li class="quality-item">PRICE</li>
              </ul>
            </div>
            <div class="description-cont">
              <ul class="quantity-list">
                <li class="quantity-item">32m (105ft)</li>
                <li class="quantity-item">SanLorenzo</li>
                <li class="quantity-item">2019</li>
                <li class="quantity-item">11 in 5 cabins</li>
                <li class="quantity-item">€7,800,000</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="card-item">
          <img
            class="yacht-link"
            srcset="
              ../img/mob_webp/yahtmob@1x-5-min.webp 1x,
              ../img/mob_webp/yahtmob@2x-5-min.webp 2x
            "
            src="../img/mob_webp/yahtmob@1x-5-min.webp"
            alt="STORM"
            width="299"
          />

          <div class="title-card">
            <h3 class="name-yachts">STORM</h3>
            <p class="luxury">LUXURY YAHTS</p>
          </div>
          <div class="cont">
            <div class="description-cont">
              <ul class="quality-list">
                <li class="quality-item">LENGTH</li>
                <li class="quality-item">BUILDER</li>
                <li class="quality-item">BUILT</li>
                <li class="quality-item">GUESTS</li>
                <li class="quality-item">PRICE</li>
              </ul>
            </div>
            <div class="description-cont">
              <ul class="quantity-list">
                <li class="quantity-item">32m (103ft)</li>
                <li class="quantity-item">Overmarine</li>
                <li class="quantity-item">2005 / 2022 (refitted)</li>
                <li class="quantity-item">9 in 4 cabins</li>
                <li class="quantity-item">€2,900,000</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="card-item">
          <img
            class="yacht-link"
            srcset="
              ../img/mob_webp/yahtmob@1x-7-min.webp 1x,
              ../img/mob_webp/yahtmob@2x-7-min.webp 2x
            "
            src="../img/mob_webp/yahtmob@1x-7-min.webp"
            alt="COLLU"
            width="299"
          />

          <div class="title-card">
            <h3 class="name-yachts">COLLU</h3>
            <p class="luxury">LUXURY YAHTS</p>
          </div>
          <div class="cont">
            <div class="description-cont">
              <ul class="quality-list">
                <li class="quality-item">LENGTH</li>
                <li class="quality-item">BUILDER</li>
                <li class="quality-item">BUILT</li>
                <li class="quality-item">GUESTS</li>
                <li class="quality-item">PRICE</li>
              </ul>
            </div>
            <div class="description-cont">
              <ul class="quantity-list">
                <li class="quantity-item">29m (96ft)</li>
                <li class="quantity-item">Ferretti</li>
                <li class="quantity-item">2014</li>
                <li class="quantity-item">10 in 5 cabins</li>
                <li class="quantity-item">$4,300,000</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="swiper-button-prev">
      <img src="../img/mob_webp/arrow_left.png" alt="button_left" />
    </div>
    <div class="swiper-button-next">
      <img src="../img/mob_webp/arrow_right.png" alt="button_rigth" />
    </div>
  </div> -->
