@media only screen and (min-width: 1280px) {
    .about-yacht {
        display: inline-flex;
    }
}

.title-div {
    width: 335px;
}

@media only screen and (min-width: 768px) {
    .title-div {
        width: 511px;
    }
}

@media only screen and (min-width: 1280px) {
    .title-div {}
}

.about-title {
    color: #F6F5EF;
    font-family:'DM Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1.08px;
}

@media only screen and (min-width: 768px) {
    .about-title {
        font-size: 32px;
        letter-spacing: -1.44px;
        line-height: 38.4px;
        height: 152px;
    }
}

@media only screen and (min-width: 1280px) {
    .about-title {
        font-size: 32px;
        letter-spacing: -1.44px;
        line-height: 38.4px;
        height: 152px;
    }
}

.accent-part {
    color: #BEC7C2;
    font-family:'DM Sans', sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    line-height: 28.8px;
    letter-spacing: -1.08px;
}

@media only screen and (min-width: 768px) {
    .accent-part {
        font-size: 32px;
        line-height: 38.4px;
        letter-spacing: -1.44px;
    }
}

.about-text {
    color: #F6F5EF;
    font-family:'DM Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: -0.28px;
}

@media only screen and (min-width: 768px) {
    .about-text {
        font-size: 16px;
        line-height: 22.4px;
        letter-spacing: -0.32px;
    }
}

.list-p {
    display: inline-flex;
    align-items: flex-start;
    gap: 14px;
    /*margin-top: 40px;*/
}

@media only screen and (min-width: 768px) {
    .list-p {
        gap: 32px;
        left: 302px;
        padding-bottom: 64px;
    }
}

.about-list{
    display: inline-flex;
    align-items: flex-start;
    gap: 14px;
    margin-top: 40px;
    }

@media only screen and (min-width: 768px) {
    .about-list {
        gap: 32px;
        padding-left: 315px;
        padding-bottom: 64px;
    }
}

@media only screen and (min-width: 1280px) {
    .list-p {
    margin-top: 0;
    }
}

.list-p {
    min-width: 160px;
    height: 220px;
}

@media only screen and (min-width: 768px) {
    .list-p {
        min-width: 183px;
        width: 183px;
        height: 242px;
    }
}

.list-p-2 {
    min-width: 161px;
    height: 180px
}

@media only screen and (min-width: 768px) {
.list-p-2 {
    min-width: 185px;
    width: 185px;
    height: 198px;
   } 
}


.img-about-list {
    /*display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    height: auto;*/
} 

.img-about-list {
    padding-top: 40px;
    gap: 32px;
    padding-bottom: 126px;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width:768px) {
    .img-about-list {
        display: flex;
        flex-wrap: wrap;
        display: flex-start;
        padding-bottom: 32px;
    }
    /*.img-about-big {
        margin-bottom: 32px;
    }   */

    .img-about-two {
        display: flex-start;
        width: 308px;
        height: 289px;
      }
    }
    


@media only screen and (min-width:1280px) {
    .img-about-list {
        flex-direction: row-reverse;
        align-items: baseline;
        padding-right: 150px;
        margin-bottom: 64px;
        gap: 32px;
    }
        .img-about-big {
        margin-bottom: 32px;
    }
}

.img-about-big {
    
}



@media only screen and (max-width:767px) {
    .img-about-one {
        width: 335px;
        height: 524px;
        /*object-fit: cover;*/
        border-radius: 8%;
        box-sizing: border-box;
    }
    .img-about-two {
        width: 335px;
        height: 289px;
    }
}
      


@media only screen and (max-width:1280px) {
    .img-about-one {
          
  }
    .img-about-two {
      
    }
}

@media only screen and (min-width:1280px) {
    .img-about-two {
        /*margin-top: -1px;*/
      
    }
}

.img-about-three {
    border-radius: 24px;
    -webkit-mask-image: linear-gradient(180deg, black, rgb(0, 0, 0, 0));
    position: absolute;
    bottom: -145px;
    left: 60%;
    transform: translateX(-50%);
    /*padding-top: 32px;*/

}

@media only screen and (min-width:768px) { 
    .img-about-three {
      left: 67%;
    }
}

@media only screen and (min-width:1280px) {
    .img-about-three {
        left: 40.5%
    }
    .img-about-two {
        margin-bottom: -20%;
    }
}
    

.aboutblock-img {
    position: relative;
}


