/*MOBILE MENU*/
.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--dark-blue, #11131f);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  display: flex;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 20px;
  color: #f6f5ef;
}
.menu-icon-close {
}
.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 0;
  margin-top: 140px;
}

.mobile-menu .mobile-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 118%; /* 16.52px */
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.mobile-menu-container-icon {
  border-bottom: 1px solid rgba(246, 245, 239, 0.2);
  display: flex;
  gap: 8px;
  padding-bottom: 24px;
  align-items: center;
}
.gradient-background {
  position: absolute;
  width: 115px;
  height: 279px;
  transform: rotate(-44.916deg);
  border-radius: 279px;
  opacity: 0.6000000238418579;
  background: #91afba;
  filter: blur(100px);
  bottom: 20px;
  left: -30px;
}
.gradient-background-2 {
  position: absolute;
  width: 279px;
  height: 120px;
  transform: rotate(-44.916deg);
  border-radius: 279px;
  opacity: 0.8999999761581421;
  background: #939cac;
  filter: blur(100px);
  bottom: -90px;
  right: 20px;
}

/*Heder*/
.header {
  background-color: var(--dark-blue, #11131f);
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .header {
    margin-bottom: 64px;
  }
}
.header-container {
  display: flex;
  align-items: center;
  padding: 27px 20px 27px 20px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(246, 245, 239, 0.2);
}
/*TABLET*/
@media only screen and (min-width: 768px) {
  .header-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.header-logo-text {
  color: var(--white, #f6f5ef);
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 16.52px;
  letter-spacing: 0.42px;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-yahts-icon-container {
  display: flex;
  gap: 8px;
  align-items: center;
}
.header-logo-yahts {
  stroke: #fff;
  fill: aqua;
}
.header-navigation-container {
}
.header-nav-list {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    gap: 24px;
  }
}
.logo-img {
  width: 23px;
  height: 23px;
}
.header-pages {
  color: var(--white, #f6f5ef);
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.52px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.icon-menu-hamburger {
  stroke: var(--white, #f6f5ef);
}
@media only screen and (min-width: 768px) {
  .header-logo-icon {
    width: 23px;
    height: 23px;
  }
}
