.rent-block {
    padding-top: 40px;
    padding-bottom: 40px;
}

.rent-container {
    position: relative;
}

@media screen and (min-width: 768px) {
    .rent-block {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .rent-container {
        display: flex;
        justify-content: center;
        gap: 69px;
        align-items: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279.9px) {
    .container.rent-container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .rent-block {
        padding-top: 82px;
        padding-bottom: 82px;
        }
    .rent-container {
        gap: 188px;
        }
}

.rent-container::after 
{
    content: "";
    width: 183px;
    height: 183px;
    transform: rotate(-44.916deg);
    flex-shrink: 0;
    border-radius: 183px;
    opacity: 0.6000000238418579;
    background: #91AFBA;
    filter: blur(100px);
    position: absolute;
    top: 400px;
    left: 150px;
    z-index: -10;
}

@media screen and (min-width: 768px) {
    .rent-container::after {
        width: 313px;
        height: 313px;
        transform: rotate(-44.094deg);
        border-radius: 313px;
        top: 75px;
        left: 400px;
}
}

@media screen and (min-width: 1280px) {
    .rent-container::after {
        width: 314px;
        height: 314px;
        transform: rotate(-45.074deg);
        border-radius: 314px;
        top: 114px;
        left: 715px;
    }
}

.rent-block-title {
    color: var(--white-title-color);
    font-family: DM Sans, sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -1.62px;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .rent-block-title {
        width: 287px;
        color: var(--white-title-color);
        font-family: DM Sans, sans-serif;
        font-size: 60px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -2.7px;
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .rent-block-title {
        width: 282px;
        margin-bottom: 64px;
    }
}

.rent-yacht-image {
    margin-bottom: 40px;
    width: 259px;
    height: 187px;

}

@media screen and (min-width: 768px) {
    .rent-yacht-image {
        margin-bottom: 0px;
        width: 271px;
    }
}

@media screen and (min-width: 1280px) {
    .rent-yacht-image {
        width: 282px;
        height: 191px;
    }
}

input,
textarea {
    font-family: inherit;
    padding: 0;
    background-color: transparent;
}

textarea {
    resize: none;
}

.modal-field-name {
    color: var(--white-title-color);
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.63px;
}

@media screen and (min-width: 768px) {
    .modal-field-name {
     font-size: 16px;
     letter-spacing: -0.72px;
}
}

.rent-label-span {
    display: block;
}

.modal-field-input {
    color: var(--white-title-color);
    border: none;
    border-bottom: 1px solid var(--white-title-color);
    width: 335px;
    height: 16px;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .modal-field-input {
        width: 364px;
        margin-bottom: 28px;
    }
}

@media screen and (min-width: 1280px) {
    .modal-field-input {
        width: 443px;        
    }
}

.modal-field-input:focus {
    border: none;
    border-bottom: 1px solid var(--white-title-color);
    outline: none;
}

.comment-input {
    color: var(--white-title-color);
    border: none;
    border-bottom: 1px solid var(--white-title-color);
    width: 335px;
    height: 58px;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .comment-input {
        width: 364px;
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .comment-input {
        width: 443px;
        margin-bottom: 64px;
    }
}

.comment-input:focus {
    border: none;
    border-bottom: 1px solid var(--white-title-color);
    outline: none;
}

.open-modal-btn {
    display: block;
    padding: 14px 28px;
    border-radius: 60px;
    border: 1px solid var(--white-title-color);
    background-color: transparent;
    color: var(--white, #F6F5EF);
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.63px;
    transition: scale 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
 .open-modal-btn {
    font-size: 18px;
    letter-spacing: -0.81px;
 } 
}

.rent-block-arrow {
    fill: var(--white-title-color);
    margin-left: 16px;
}

.open-modal-btn:hover .rent-block-arrow,
.open-modal-btn:focus .rent-block-arrow {
    fill: var(--light-green-color);
    scale: 1.1;
}

.open-modal-btn:hover,
.open-modal-btn:focus {
    color: var(--light-green-color);
    border: 1px solid var(--light-green-color);
    scale: 1.1;
}

.modal-bgd {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(27 29 31 / 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.modal-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 335px;
    height: 396px;
    background-color: var(--main-blue2-color);
    border-radius: 20px;
    padding: 40px 24px;
}

@media screen and (min-width: 768px) {
    .modal-form-container {
        width: 570px;
        height: 522px;
        background-color: var(--main-blue2-color);
        border-radius: 40px;
        padding: 64px;
    }
}

.modal-form-container::after {
    content: "";
    border-radius: 283px;
    position: absolute;
    top: 75px;
    left: 96px;
    width: 142px;
    height: 142px;
    transform: rotate(-45.074deg);
    flex-shrink: 0;
    background: #91AFBA;
    opacity: 0.6000000238418579;
    filter: blur(100px);
    z-index: -10;
}

@media screen and (min-width: 768px) {
    .modal-form-container::after {
        content: "";
        border-radius: 265px;
        position: absolute;
        top: 65px;
        left: 152px;
        width: 265px;
        height: 265px;
        transform: rotate(-45.079deg);
        opacity: 0.6000000238418579;
    }
}

.modal-active {
    opacity: 1;
    pointer-events: all;
}

.close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: transparent;
    stroke: var(--white-title-color);
    border: none;
    transition: scale 500ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.close-btn:hover, .close-btn:focus {
    scale: 1.2;
}

@media screen and (min-width: 768px) {
    .close-btn {
        top: 32px;
        right: 32px;
    }
}

.close-button {
    width: 20px;
    height: 20px;
}

@media screen and (min-width: 768px) {
.close-button {
        width: 24px;
        height: 24px;
    }
}

.modern-yacht-image {
    width: 220px;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .modern-yacht-image {
        width: 338px;
        margin-top: 30px;
        margin-bottom: 25px;
    }
}

.modal-title {
    color: var(--white, #F6F5EF);
    font-family: DM Sans, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1.08px;
    margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
    .modal-title {
        font-size: 32px;
        letter-spacing: -1.44px;
        margin-bottom: 16px;
    }
}

.modal-text {
    width: 287px;
    color: var(--white-title-color);
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.28px;
}

@media screen and (min-width: 768px) {
.modal-text {
        width: 442px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.32px;
    }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5500s ease-in-out 0s;
    -webkit-text-fill-color: #f6f5ef !important;
}