.reviews-block {}

.container {}

.container-reviews {}

.reviews-subtitle {
    font-family: DM Sans;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: -4.5%;
    color: var(--white, #F6F5EF);
}

.spn-reviews {}

.reviews-box {}

.reviews-text {}

.reviews-cards {}

.reviews-list {}

.reviews-item {}

.cards-subtitle {}

.cards-text {}