.swipe-arrow{
}

.btn-top {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 999;
}

.button-top {
    background-color: #93ABAE;
    border-radius: 8px;
    border: none;
    width: 68px;
    height: 68px;
    padding: 19px 26px;
}

.btn-back{
}