.section-box {
  max-width: 335px;
  height: auto;
  padding: 0 20px;
  margin-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .section-box {
    max-width: 768px;
    padding: 0% 64px;
  }
}

@media only screen and (min-width: 1280px) {
  .section-box {
    padding: 0% 199px;
  }
}

.gradient {
  border-radius: 414px;
  opacity: 0.6000000238418579;
  background: #91afba;
  filter: blur(160px);

  height: 414px;
  transform: rotate(-45.074deg);
  position: relative;
  top: 240px;
}

@media only screen and (min-width: 768px) {
  .gradient {
    border-radius: 414px;
    opacity: 0.6000000238418579;
    background: #91afba;
    filter: blur(180px);
    width: 600px;
    height: 414px;
    transform: rotate(-45.074deg);
    position: relative;
    top: 730px;
  }
}

@media only screen and (min-width: 768px) {
  .gradiend {
    border-radius: 80px;
    opacity: 0.6000000238418579;
    background: #91afba;
    filter: blur(230px);
    width: 600px;
    height: 414px;
    transform: rotate(-45.074deg);
    position: relative;
    top: 210px;
    left: 540px;
  }
}

.title-yachtsblock {
  color: var(--white, #f6f5ef);
  font-family: DM Sans, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.62px;
  width: 310px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .title-yachtsblock {
    font-size: 70px;
    line-height: 1.1;
    letter-spacing: -3.15px;
    width: 641px;
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 1280px) {
  .title-yachtsblock {
    font-size: 100px;
    line-height: 1.1;
    letter-spacing: -5.5px;
    width: 882px;
  }
}

.rental-btn {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  color: #f6f5ef;
  background-color: #11131f;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: -0.045em;
  cursor: pointer;
  width: 131px;
  height: 43px;
  border: 1px solid #f6f5ef;
  border-radius: 60px;
  padding: 14px 28px;
}

@media only screen and (min-width: 768px) {
  .rental-btn {
    width: 131px;
    height: 48px;
  }
}

.name-yachts {
  color: #f6f5ef;
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.045em;
}

.luxury {
  color: #f6f5ef;
  opacity: 0.5;
  font-family: DM Sans, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.cont {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding-left: 24px;
}

.quality-list,
.quantity-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.quality-item {
  color: var(--white, #f6f5ef);
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.quantity-item {
  color: var(--white, #f6f5ef);
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.42px;
}

.title-card {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  margin-bottom: 24px;
}

.yacht-link {
  margin: 0 auto;
  margin-bottom: 24px;
  border-radius: 28px;
  width: 299px;
  height: 251px;
}

@media only screen and (min-width: 768px) {
  .yacht-link {
    width: 312px;
    height: 268px;
  }
}

@media only screen and (min-width: 1280px) {
  .yacht-link {
    width: 322px;
    height: 268px;
  }
}

.swiper-wrapper {
  display: flex;
  gap: 23px;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .swiper-wrapper {
    gap: 16px;
  }
}

.swiper-slide {
  background: #1f212d;
  width: 320px;
  height: 469px;
  border-radius: 20px;
  padding-top: 18px;
}

@media only screen and (min-width: 375px) {
  .swiper-slide {
    max-width: 335px;
  }
}

@media only screen and (min-width: 768px) {
  .swiper-slide {
    max-width: 354px;
    height: 508px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: rgba(0, 0, 0, 0);
  border: 1px solid #f6f5ef;
  border-radius: 60px;
  background-color: transparent;
  width: 46px;
  height: 36px;
  margin-bottom: 80px;
}

.swiper-button-prev {
  position: relative;
  top: 20px;
  left: 120px;
}

@media only screen and (min-width: 768px) {
  .swiper-button-prev {
    max-width: 767px;
    top: 20px;
    left: 290px;
  }
}

@media only screen and (min-width: 1280px) {
  .swiper-button-prev {
    max-width: 1440px;
    top: -275px;
    left: 20px;
  }
}

.swiper-button-next {
  position: relative;
  top: -74px;
  right: -200px;
}

@media only screen and (min-width: 768px) {
  .swiper-button-next {
    max-width: 767px;
    top: -74px;
    right: -385px;
  }
}

@media only screen and (min-width: 1280px) {
  .swiper-button-next {
    max-width: 1440px;
    top: -370px;
    right: -1200px;
  }
}

.prev-icon,
.next-icon {
  fill: #f6f5ef;
}

/* .card-rental {
  display: flex;
  flex-direction: column;
}

.card-set {
  display: flex;
  padding: 0 20px;
}

.card-set-list {
  position: relative;
  display: flex;
  gap: 23px;
}

@media only screen and (min-width: 768px) {
  .card-set-list {
    gap: 6px;
  }
}

@media only screen and (min-width: 1280px) {
  .card-set-list {
    gap: 16px;
  }
}

.card-item {
  background: #1f212d;
  width: 320px;
  height: 469px;
  border-radius: 20px;
  padding-top: 18px;
}

@media only screen and (min-width: 768px) {
  .card-item {
    width: 354px;
    height: 508px;
  }
}

.yacht-link {
  margin: 0 auto;
  margin-bottom: 24px;
  border-radius: 28px;

  width: 299px;
  height: 251px;
}

@media only screen and (min-width: 768px) {
  .yacht-link {
    width: 312px;
    height: 268px;
  }
}

@media only screen and (min-width: 1280px) {
  .yacht-link {
    width: 322px;
    height: 268px;
  }
}

.title-card {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  margin-bottom: 24px;
}

.name-yachts {
  color: #f6f5ef;
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.045em;
}

.luxury {
  color: #f6f5ef;
  opacity: 0.5;
  font-family: DM Sans, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.cont {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding-left: 24px;
}

.quality-list,
.quantity-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.quality-item {
  color: var(--white, #f6f5ef);
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.quantity-item {
  color: var(--white, #f6f5ef);
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.42px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 46px;
  height: 36px;
  color: rgba(0, 0, 0, 0);
}

.swiper-button-prev {
  position: relative;
  top: 40px;
  left: 130px;
}

@media only screen and (min-width: 768px) {
  .swiper-button-prev {
    top: 40px;
    left: 130px;
  }
}

@media only screen and (min-width: 768px) {
  .swiper-button-prev {
    top: 35px;
    left: 320px;
    margin-right: 16px;
  }
}

.swiper-button-next {
  position: relative;
  top: 23px;
  left: 400px;
} */
/* .body {
  position: relative;
  height: 100%;
} */
